%p#notice= notice

%p
  %b Comment:
  = @comment.comment
%p
  %b User:
  = @comment.user.username
%p
  %b Product Or Order:
  = @comment.item_id
%p
  %b Item_type:
  = @comment.item_type

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
