.page-header
  %h3 User #{@user.username} (#{@user.email})
.raw
  .col-md-5.col-lg-6
    = image_tag @user.avatar.size_600, class: "img-circle"
  .col-md-4.col-lg-3.col-md-push-3.col-lg-push-3
    %p
      %b Имя: 
      = @user.username
    %p
      %b Email:
      = @user.email
    %p
      %b Time_zone: 
      = @user.time_zone 
      = ActiveSupport::TimeZone.new(@user.time_zone).formatted_offset
    %p
      %b Town:
      = @user.town.accent_city
    %p
      %b Статус:
      = @user.role 
    %p
      %b Текущий адрес: 
      = @user.current_sign_in_ip
    %p
      %b Адрес предыдущего захода:
      = @user.last_sign_in_ip
    %p
      %b Время предыдущего захода:
      = @user.last_sign_in_at

.raw
  .col-md-10.col-lg-9.col-md-push-3
    = link_to "Все пользователи", users_path, :class => 'btn btn-default' if policy(@user).index?
    = link_to "Редактировать пользователя", edit_user_path(@user), :class => 'btn btn-default' if policy(@user).edit?
    = link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn btn-default'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn btn-default'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(@user), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
