- model_class = Product
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
= render "paginate_top"
#products
  = render "products"
= render "paginate_bottom"


%h3 Import Products From XLS/XLSX
= form_tag import_products_path, multipart: true do
  = file_field_tag :file, :accept => "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
  = submit_tag "Import"


= link_to t('.new', :default => t("helpers.links.new")), new_product_path, :class => 'btn btn-primary'
