#-= render "layouts/tabs_filters"

- model_class = Product
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
.row
  .col-lg-15.col-md-18
    = render "paginate_top"
    #products= render "products"
    = render "paginate_bottom"

- if user_signed_in?
  .row
    .col-lg-15.col-md-18
      %h3 Import Products From XLS/XLSX
      = form_tag import_products_path, multipart: true do
        = file_field_tag :file, :accept => "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        = submit_tag "Import"
      %br
      = link_to t('.new', :default => t("helpers.links.new")), new_product_path, :class => 'btn btn-primary'
