!!! 5
%html(lang="en")
  = render "layouts/head"
  %body
    .container
      - if user_signed_in?
        = render "layouts/menu_top_secure"
        .row
          .col-lg-18.col-md-21
            = bootstrap_flash
            = yield
      -else
        = render "layouts/menu_top_publish"
        .row
          .col-lg-18.col-md-21
            = bootstrap_flash
            = yield
      %footer#footer.footer
        .row
          .col-lg-18.col-md-21
            = render "layouts/footer"
